<!doctype html>
<html>
<head>
  <title>Lonely Hearts</title>
</head>
<body>
    <form action="">
      <button>New room</button>
    </form>

<script src="{{url_for('static', filename='jquery.js')}}"></script>

<script>
  var base_url = "http://{{ config['WWW_HOST'] }}:{{ config['PORT'] }}";
  console.log(base_url);
  $('form').submit(function(){
    $.ajax({
      url: base_url + '/rooms/',
      type: 'POST',
    }).done(function(data){
      console.log(data.url);
      window.location.href = data.url;
    }).fail(function(xhr, status, error) {
      console.log(error);
    });
  });
</script>

</body>
</html>
