<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Room {{ room_id }}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='room.css')}}">
</head>

<body class="preload">
<div id="room">
  <div id="trick" class="center">
  </div>
  <div id="player">
    <div id="status" class="centered_in_div">
    </div>
    <div id="hand">
      <ul id="cards_list" class="centered_in_div">
      </ul>
    </div>
  </div>
  <div class="opponent left">
    <div class="card_back"></div>
    <div class="name"></div>
  </div>
  <div class="opponent top">
    <div class="card_back"></div>
    <div class="name"></div>
  </div>
  <div class="opponent right">
    <div class="card_back"></div>
    <div class="name"></div>
  </div>
</div>

<script src="{{url_for('static', filename='socket.io.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script src="{{url_for('static', filename='room_client.js')}}"></script>
<script src="{{url_for('static', filename='room_socket_client.js')}}"></script>
<script src="{{url_for('static', filename='room_state.js')}}"></script>
<script src="{{url_for('static', filename='room_ui.js')}}"></script>

<script>
var username = prompt('Enter your name:');
var socket_client = new RoomSocketClient("{{ api_url }}");
var room_state = new RoomState(username);
var room_client = new RoomClient(socket_client, room_state);
socket_client.join_room("{{ room_id }}", username);

function setup() {
    $("body").removeClass("preload");
    room_client.refresh();
}

$(window).load(setup);
</script>

</body>
</html>
