<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Room {{ room_id }}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='room.css')}}">
</head>

<body class="preload">
<div id="room">
  <div id="trick" class="center">
  </div>
  <div id="hand">
    <ul id="cards_list">
    </ul>
  </div>
  <div class="opponent left">
    <div class="card_back"></div>
    <div class="name"></div>
  </div>
  <div class="opponent top">
    <div class="card_back"></div>
    <div class="name"></div>
  </div>
  <div class="opponent right">
    <div class="card_back"></div>
    <div class="name"></div>
  </div>
</div>

<script src="{{url_for('static', filename='socket.io.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script src="{{url_for('static', filename='socket_api.js')}}"></script>
<script src="{{url_for('static', filename='room.js')}}"></script>

<script>
var game_client = new HeartsClient();
var socket_client = new RoomSocket("{{ api_url }}", game_client);
socket_client.join_room("{{ room_id }}");

function setup() {
    $("body").removeClass("preload");
    game_client.render();
}

$(window).load(setup);
</script>

</body>
</html>
