html, body {
  height: 100%;
  position: relative;
}

#room {
  position: relative;
  height: 100%;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.center {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.right {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.left {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.bottom {
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 0%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.top {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

#hand {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

#trick {
  position: absolute;
  height: 297px;
  width: 219px;
}

#cards_list {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  background: url("/static/cards.png");
  background-repeat: no-repeat;
  width: 72px;
  height: 99px;
}

.chosen_to_pass {
  outline: 3px solid #009922;
  outline-offset: -2px;
  z-index: 1;
}

#hand .card {
  transition: transform 0.2s ease;
}

#hand .card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  z-index: 2;
}

@-webkit-keyframes peek {
    from   { -webkit-transform: translate(0px, 0px); }
    to     { -webkit-transform: translate(0px, -10px); }
}

@-webkit-keyframes unpeek {
    from   { -webkit-transform: translate(0px, -10px); }
    to     { -webkit-transform: translate(0px, 0px); }
}

#cA { background-position: 0px 0px }
#c2 { background-position: -73px 0px }
#c3 { background-position: -146px 0px }
#c4 { background-position: -219px 0px }
#c5 { background-position: -292px 0px }
#c6 { background-position: -365px 0px }
#c7 { background-position: -438px 0px }
#c8 { background-position: -511px 0px }
#c9 { background-position: -584px 0px }
#cT { background-position: -657px 0px }
#cJ { background-position: -730px 0px }
#cQ { background-position: -803px 0px }
#cK { background-position: -876px 0px }
#sA { background-position: 0px -98px }
#s2 { background-position: -73px -98px }
#s3 { background-position: -146px -98px }
#s4 { background-position: -219px -98px }
#s5 { background-position: -292px -98px }
#s6 { background-position: -365px -98px }
#s7 { background-position: -438px -98px }
#s8 { background-position: -511px -98px }
#s9 { background-position: -584px -98px }
#sT { background-position: -657px -98px }
#sJ { background-position: -730px -98px }
#sQ { background-position: -803px -98px }
#sK { background-position: -876px -98px }
#hA { background-position: 0px -196px }
#h2 { background-position: -73px -196px }
#h3 { background-position: -146px -196px }
#h4 { background-position: -219px -196px }
#h5 { background-position: -292px -196px }
#h6 { background-position: -365px -196px }
#h7 { background-position: -438px -196px }
#h8 { background-position: -511px -196px }
#h9 { background-position: -584px -196px }
#hT { background-position: -657px -196px }
#hJ { background-position: -730px -196px }
#hQ { background-position: -803px -196px }
#hK { background-position: -876px -196px }
#dA { background-position: 0px -294px }
#d2 { background-position: -73px -294px }
#d3 { background-position: -146px -294px }
#d4 { background-position: -219px -294px }
#d5 { background-position: -292px -294px }
#d6 { background-position: -365px -294px }
#d7 { background-position: -438px -294px }
#d8 { background-position: -511px -294px }
#d9 { background-position: -584px -294px }
#dT { background-position: -657px -294px }
#dJ { background-position: -730px -294px }
#dQ { background-position: -803px -294px }
#dK { background-position: -876px -294px }
