<!doctype html>
<html>
<head>
  <title>Lonely Hearts Club</title>
  <style>
    body { font: 13px Helvetica, Arial; }
  </style>
</head>
<body>
    <p id="table_link"></p>
    <form id="create_table" action="">
      <button>Create new table</button>
    </form>

<script src="{{url_for('static', filename='socket.io.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery.js')}}"></script>

<script>
function request_new_table() {
  if(this.status == 200) {
    var table_json = JSON.parse(this.responseText);
    var table_url = 'http://127.0.0.1:5000/tables/' + table_json['id'];
    $(table_link).html('<a href=' + table_url + '>' + table_url + '</a>');
    console.log(this.status);
    console.log(this.responseText);
  } else {
    // something went wrong
    console.log(this.status);
    console.log(this.responseText);
  }
}

$('form').submit(function(){
  var client = new XMLHttpRequest();
  client.onload = request_new_table;
  client.open("POST", "http://127.0.0.1:5000/tables/", false);
  client.send();
  return false;
});
</script>
<!--
<script>
  var socket = io.connect('http://127.0.0.1:5000/chat');

  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });

  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
</script>
-->

</body>
</html>
