<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Room {{ room_id }}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='room.css')}}">
</head>

<body class="preload">
<div id="room">
  <div id="trick" class="center">
    <div class="card left" id="h2"></div>
    <div class="card top" id="h3"></div>
    <div class="card right" id="h7"></div>
    <div class="card bottom" id="d9"></div>
  </div>
  <div id="hand">
    <ul id="cards_list">
      <li class="card" id="cA"></li>
      <li class="card" id="d7"></li>
      <li class="card" id="hK"></li>
      <li class="card" id="sJ"></li>
      <li class="card" id="c7"></li>
      <li class="card" id="s9"></li>
    </ul>
  </div>
  <div class="opponent left">
    <div class="card_back"></div>
    <div class="name"></div>
  </div>
  <div class="opponent top">
    <div class="card_back"></div>
    <div class="name"></div>
  </div>
  <div class="opponent right">
    <div class="card_back"></div>
    <div class="name"></div>
  </div>
</div>

<script src="{{url_for('static', filename='socket.io.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script src="{{url_for('static', filename='socket_api.js')}}"></script>

<script>
api.join_room( {{ room_id }} );
</script>

<script src="{{url_for('static', filename='room.js')}}"></script>

</body>
</html>
